# Dependencies
node_modules/
README_files/libs/*

# Build output
frontend/build/
electron/dist/
electron/backend/
electron/frontend-build/
electron/python-embedded/

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
backend/build/
frontend/NotoSansSC-Regular.ttf
